body {
    background-image: url(../img/fondo-formas-geometricas-azules-3d_132230-185.jpg);
}

.texto {
    color: white;
    text-align: center;
}

.marco {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.boton {
    background-color: aqua;
}

.formulario {
    border: 1px solid black;
    background-color: gray;
}

.footer {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.face {
    margin-left: 5em;
}

.botones {
    display: flex;
}